# macOS
.DS_Store
*.swp
*.orig

# Swift & macOS build artifacts
macos-host/.build/
.build/
*.xcodeproj/
*.xcworkspace/
DerivedData/

# Android build artifacts
android-app/build/
android-app/classes.dex
*.apk.idsig
android-client/.gradle/
android-client/build/
android-client/app/build/
local.properties
.idea/

# iOS build artifacts
ios-client/.build/
ios-client/*.xcodeproj/xcuserdata/

# Test screenshots
*.png
